@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" /> <!-- Codificación de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Configuración de la vista para dispositivos móviles -->
    <title>@ViewData["Title"] - Sistema de inventario</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div class="animated-marquee">
        <div class="animated-marquee-container animated-marquee-foreground">
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
            <div class="animated-marquee-card"></div>
        </div>
    </div>
    <div class="animated-marquee-container animated-marquee-middleground">
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
    </div>
    <div class="animated-marquee-container animated-marquee-background">
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
        <div class="animated-marquee-card"></div>
    </div>
    </div>

    <div class="login-container">
        <img src="~/images/Logo.jpg" alt="Logo" class="login-logo" />
        <h2>Ingrese su número de empleado</h2>
        <form asp-action="Login" method="post">
            <div class="input-container">
                <input type="password" class="form-control" id="employeeNumber" name="employeeNumber" required />
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    <span class="input-toast">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            @error.ErrorMessage
                        }
                    </span>
                }
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>


    <script>
        var animatedMarquee = $('.animated-marquee');

        $(window).resize(function () {
            animatedMarquee.remove();
            $('body').append(animatedMarquee);
        });
    </script>
    <script src="~/js/sesionkiller.js"></script>

</body>
</html>
