<html <!DOCTYPE html>
    <html>
    <head>
        <title>View production</title>
    </head>

    <body>
<div class="container">
    <h1>Producción</h1>

    <div class="form-container">
        <h2>Registrar un numero de parte</h2>

        <form id="formproducto">

            <label for="PN>Numero de parte: </label>
            <input type="text" id="PN" name="PN" required />

            <label for="cantidad">Cantidad: </label>
            <input type="number" id="quantity" name="quantity" required />

            <button type="submit">Agregar</button>

        </form>
    </div>



</div>

    </body>
    </html>