<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventario - Supervisor</title>
    <link rel="stylesheet" href="/css/Supervisor.css">

</head>
<body>
    <div class="container">
        <h1>Gestión de Inventario - Supervisor</h1>

        <div class="navigation">
            
            <a href="/Home/Production" class="button">Ir a Producción</a>
            
            <a href="/Home/Warehouse" class="button">Ir a Almacén</a>
        </div>

        <div class="search-bar">
            <input type="text" id="searchPart" placeholder="Buscar número de parte">
            <button onclick="searchPart()">Buscar</button>
        </div>

        <div class="part-details">
            <label for="part-number">Numero de Parte:</label>
            <input type="text" id="part-number" disabled>

            <label for="part-name">Descripcion del producto:</label>
            <input type="text" id="part-name" disabled>

            <label for="quantity">Cantidad a Registrar:</label>
            <input type="number" id="quantity" min="1">

            <label for="date">Fecha de Registro:</label>
            <input type="date" id="date">

            <button onclick="addPart()">Agregar</button>
            <button onclick="deletePart()">Eliminar</button>
        </div>
    </div>

    <script src="/js/Supervisor.js"></script>

</body>
</html>

